@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(111, 110, 110, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-radius: 5px;
  max-width: 590px;
  min-height: 400px;
  margin: 20px;
  /* background: rgba(255, 255, 255, 0.694); */
  background: #fff;
  border: 1px solid rgba(102, 101, 101, 0.3);
  z-index: 999;
  min-width: 300px;
}
